@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}


.ex-svg {
    width: 100%;
    max-width: 860px;

}

.ex-bee {
    stroke-width: 1.5;
    fill-opacity: 0.8;
}

.ex-line {
    stroke: #dcdcdc;
    stroke-width: 1.5;
}